.parent {
  height: 100%;
  width: 100%;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #2a303c00 100%);
   */
  background: #2a303c00;
  overflow: hidden;
  border-radius: 10px 0px 0px 0px;
}

#stars {
  width: 1px;
  height: 1px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 363px 1344px #f0f0f0, 629px 1318px #fff, 455px 955px #fff,
    1166px 752px #fff, 1469px 1182px #fff, 430px 44px #fff, 1418px 1573px #fff,
    414px 1528px #fff, 1374px 979px #fff, 1966px 1376px #fff, 1218px 529px #fff,
    207px 1076px #fff, 740px 1170px #fff, 1059px 177px #fff, 658px 1595px #fff,
    1682px 1097px #fff, 1820px 606px #fff, 1873px 1261px #fff,
    1833px 1501px #fff, 137px 947px #fff, 622px 1379px #fff, 1073px 131px #fff,
    1891px 1139px #fff, 868px 1304px #fff, 974px 1004px #fff, 1136px 367px #fff,
    637px 248px #fff, 617px 1167px #fff, 113px 294px #fff, 920px 530px #fff,
    1934px 1451px #fff, 10px 1883px #fff, 1586px 1307px #fff, 290px 329px #fff,
    1878px 1607px #fff, 393px 319px #fff, 469px 543px #fff, 594px 1056px #fff,
    1017px 340px #fff, 1495px 674px #fff, 366px 1164px #fff, 1311px 80px #fff,
    1658px 349px #fff, 225px 774px #fff, 903px 204px #fff, 1626px 1013px #fff,
    179px 995px #fff, 1705px 185px #fff, 1453px 805px #fff, 634px 1011px #fff,
    1694px 476px #fff, 1668px 1413px #fff, 1409px 1844px #fff,
    1078px 1379px #fff, 1803px 1704px #fff, 11px 173px #fff, 1665px 892px #fff,
    847px 907px #fff, 1414px 806px #fff, 915px 859px #fff, 461px 1502px #fff,
    135px 417px #fff, 1248px 889px #fff, 1517px 1661px #fff, 1208px 159px #fff,
    1796px 1808px #fff, 1628px 105px #fff, 145px 1118px #fff, 1452px 364px #fff,
    404px 66px #fff, 1270px 1589px #fff, 318px 257px #fff, 631px 878px #fff,
    1906px 1755px #fff, 1805px 788px #fff, 1575px 755px #fff, 1755px 1582px #fff,
    483px 20px #fff, 1187px 529px #fff, 79px 212px #fff, 225px 601px #fff,
    477px 1866px #fff, 1271px 797px #fff, 1280px 135px #fff, 1659px 219px #fff,
    1474px 1014px #fff, 1665px 586px #fff, 1716px 1854px #fff, 774px 1038px #fff,
    1135px 222px #fff, 567px 437px #fff, 775px 579px #fff, 1634px 1263px #fff,
    115px 188px #fff, 1349px 1093px #fff, 1644px 1411px #fff, 1075px 235px #fff,
    1005px 1206px #fff, 449px 1337px #fff, 1216px 1616px #fff,
    1199px 1432px #fff, 447px 1779px #fff, 1594px 796px #fff, 1441px 341px #fff,
    412px 239px #fff, 842px 964px #fff, 1033px 1841px #fff, 139px 1316px #fff,
    146px 1483px #fff, 1595px 1490px #fff, 1541px 934px #fff, 348px 1140px #fff,
    483px 421px #fff, 1514px 1px #fff, 1490px 256px #fff, 192px 691px #fff,
    213px 680px #fff, 1216px 990px #fff, 228px 1817px #fff, 1428px 1648px #fff,
    767px 588px #fff, 1557px 975px #fff, 660px 1430px #fff, 1395px 1582px #fff,
    1326px 219px #fff, 219px 1882px #fff, 490px 1364px #fff, 1099px 1537px #fff,
    1521px 109px #fff, 59px 616px #fff, 1399px 518px #fff, 189px 1645px #fff,
    1534px 1988px #fff, 764px 1639px #fff, 363px 123px #fff, 1100px 1319px #fff,
    1174px 1444px #fff, 1691px 1626px #fff, 1747px 1107px #fff, 349px 440px #fff,
    604px 1221px #fff, 1712px 514px #fff, 127px 1081px #fff, 496px 1036px #fff,
    18px 255px #fff, 1327px 91px #fff, 1657px 283px #fff, 708px 325px #fff,
    57px 541px #fff, 1636px 1045px #fff, 903px 228px #fff, 1436px 214px #fff,
    1146px 1830px #fff, 920px 1694px #fff, 1992px 1575px #fff, 991px 340px #fff,
    1426px 321px #fff, 331px 1206px #fff, 910px 410px #fff, 322px 362px #fff,
    1624px 874px #fff, 1489px 1704px #fff, 978px 1072px #fff, 1225px 1620px #fff,
    1019px 141px #fff, 97px 427px #fff, 961px 332px #fff, 1180px 1778px #fff,
    1451px 54px #fff, 1905px 336px #fff, 51px 377px #fff, 723px 1864px #fff,
    1845px 312px #fff, 1756px 760px #fff, 1838px 496px #fff, 474px 19px #fff,
    1169px 644px #fff, 931px 1593px #fff, 1796px 1658px #fff, 1px 1699px #fff,
    1216px 546px #fff, 1485px 1218px #fff, 146px 151px #fff, 1241px 1816px #fff,
    7px 2000px #fff, 659px 241px #fff, 632px 1167px #fff, 640px 128px #fff,
    1248px 925px #fff, 59px 224px #fff, 1748px 266px #fff, 1517px 1054px #fff,
    1950px 941px #fff, 1086px 1049px #fff, 1713px 756px #fff, 674px 1172px #fff,
    4px 395px #fff, 21px 130px #fff, 125px 1731px #fff, 1772px 1999px #fff,
    1305px 1288px #fff, 1162px 1847px #fff, 1529px 951px #fff, 381px 307px #fff,
    594px 559px #fff, 1622px 1125px #fff, 119px 1827px #fff, 1926px 1445px #fff,
    1006px 813px #fff, 1502px 1584px #fff, 1353px 1033px #fff,
    1393px 1065px #fff, 98px 1661px #fff, 1468px 71px #fff, 1582px 1126px #fff,
    524px 361px #fff, 61px 1214px #fff, 1191px 738px #fff, 1558px 959px #fff,
    1522px 1919px #fff, 283px 1561px #fff, 900px 189px #fff, 1411px 1165px #fff,
    1313px 1316px #fff, 700px 1214px #fff, 1776px 1482px #fff, 1233px 672px #fff,
    252px 1452px #fff, 1602px 1124px #fff, 1273px 1513px #fff, 156px 1518px #fff,
    1886px 81px #fff, 488px 1142px #fff, 725px 1762px #fff, 507px 1503px #fff,
    518px 1526px #fff, 1311px 424px #fff, 1834px 587px #fff, 1504px 1470px #fff,
    641px 1834px #fff, 1091px 239px #fff, 706px 443px #fff, 1033px 1641px #fff,
    919px 1299px #fff, 1726px 83px #fff, 225px 900px #fff, 1173px 1990px #fff,
    1527px 1068px #fff, 1419px 340px #fff, 894px 417px #fff, 1510px 1626px #fff,
    593px 144px #fff, 242px 1979px #fff, 1908px 1732px #fff, 990px 1967px #fff,
    439px 1046px #fff, 227px 1863px #fff, 1263px 631px #fff, 437px 1333px #fff,
    530px 218px #fff, 220px 1732px #fff, 574px 75px #fff, 1703px 1319px #fff,
    1128px 388px #fff, 1550px 880px #fff, 1798px 461px #fff, 817px 627px #fff,
    1992px 731px #fff, 137px 8px #fff, 742px 1825px #fff, 564px 1650px #fff,
    1814px 675px #fff, 1656px 1747px #fff, 1688px 1688px #fff,
    1869px 1275px #fff, 927px 1029px #fff, 1520px 251px #fff, 504px 196px #fff,
    131px 129px #fff, 919px 1946px #fff, 385px 1494px #fff, 1314px 92px #fff,
    888px 735px #fff, 1209px 839px #fff, 166px 1387px #fff, 230px 1298px #fff,
    1114px 857px #fff, 1479px 1936px #fff, 1801px 891px #fff, 998px 906px #fff,
    1669px 861px #fff, 484px 1959px #fff, 510px 1926px #fff, 352px 431px #fff,
    813px 1879px #fff, 1409px 1623px #fff, 1668px 1852px #fff, 587px 455px #fff,
    776px 591px #fff, 405px 62px #fff, 316px 1583px #fff, 1424px 731px #fff,
    1574px 493px #fff, 1518px 160px #fff, 443px 602px #fff, 865px 1034px #fff,
    1866px 1816px #fff, 870px 110px #fff, 502px 392px #fff, 331px 1688px #fff,
    408px 1821px #fff, 248px 1214px #fff, 62px 1701px #fff, 1005px 251px #fff,
    566px 214px #fff, 950px 572px #fff, 1274px 1338px #fff, 1605px 1856px #fff,
    857px 210px #fff, 1093px 1744px #fff, 1112px 727px #fff, 1454px 550px #fff,
    1011px 1102px #fff, 1284px 1218px #fff, 1334px 548px #fff, 32px 878px #fff,
    667px 425px #fff, 1647px 772px #fff, 108px 1579px #fff, 1006px 235px #fff,
    415px 1704px #fff, 1249px 1039px #fff, 892px 739px #fff, 1281px 1541px #fff,
    115px 364px #fff, 841px 1154px #fff, 993px 1474px #fff, 275px 1760px #fff,
    445px 765px #fff, 1514px 599px #fff, 1565px 1030px #fff, 78px 825px #fff,
    1026px 1207px #fff, 9px 1114px #fff, 1073px 391px #fff, 1408px 52px #fff,
    884px 1811px #fff, 1289px 713px #fff, 1812px 437px #fff, 1913px 1684px #fff,
    1610px 1322px #fff, 1721px 1686px #fff, 799px 1654px #fff, 414px 1946px #fff,
    1551px 1296px #fff, 1203px 1236px #fff, 1914px 1394px #fff, 1421px 79px #fff,
    1453px 1974px #fff, 1898px 121px #fff, 1059px 286px #fff, 241px 665px #fff,
    1563px 1859px #fff, 1118px 685px #fff, 520px 1648px #fff, 1291px 563px #fff,
    1283px 1292px #fff, 1740px 1428px #fff, 592px 10px #fff, 1756px 1640px #fff,
    418px 1301px #fff, 1839px 256px #fff, 919px 1467px #fff, 776px 521px #fff,
    1899px 640px #fff, 1449px 479px #fff, 1450px 1585px #fff, 437px 1238px #fff,
    958px 952px #fff, 1549px 1090px #fff, 823px 1050px #fff, 86px 1918px #fff,
    903px 1055px #fff, 1718px 920px #fff, 609px 570px #fff, 1252px 1363px #fff,
    60px 787px #fff, 955px 652px #fff, 1883px 1995px #fff, 1174px 987px #fff,
    1462px 1543px #fff, 1863px 333px #fff, 987px 556px #fff, 1526px 1035px #fff,
    772px 722px #fff, 1413px 856px #fff, 1523px 778px #fff, 1823px 571px #fff,
    1643px 544px #fff, 259px 1003px #fff, 261px 1333px #fff, 1219px 1142px #fff,
    1159px 1090px #fff, 1519px 1324px #fff, 102px 1615px #fff, 1395px 23px #fff,
    360px 1697px #fff, 670px 676px #fff, 1537px 594px #fff, 1797px 1665px #fff,
    882px 1210px #fff, 1898px 850px #fff, 1048px 802px #fff, 1183px 1517px #fff,
    13px 619px #fff, 494px 1304px #fff, 1055px 909px #fff, 1868px 1667px #fff,
    1671px 450px #fff, 1911px 1608px #fff, 931px 868px #fff, 1698px 659px #fff,
    89px 183px #fff, 1680px 1084px #fff, 696px 642px #fff, 889px 306px #fff,
    1913px 942px #fff, 146px 22px #fff, 961px 442px #fff, 1198px 1670px #fff,
    1088px 1957px #fff, 1962px 1043px #fff, 1507px 25px #fff, 1848px 1801px #fff,
    1212px 298px #fff, 1081px 9px #fff, 1609px 258px #fff, 93px 1454px #fff,
    371px 554px #fff, 1141px 386px #fff, 1443px 649px #fff, 919px 593px #fff,
    1404px 29px #fff, 809px 264px #fff, 742px 1305px #fff, 3px 49px #fff,
    1604px 1744px #fff, 1705px 939px #fff, 1662px 558px #fff, 1723px 1134px #fff,
    617px 1701px #fff, 60px 17px #fff, 892px 601px #fff, 192px 487px #fff,
    115px 735px #fff, 750px 1125px #fff, 1913px 767px #fff, 1274px 214px #fff,
    1911px 1527px #fff, 1804px 200px #fff, 1449px 106px #fff, 1964px 1469px #fff,
    1247px 1884px #fff, 1359px 1016px #fff, 1259px 1423px #fff,
    598px 1493px #fff, 1055px 1903px #fff, 953px 842px #fff, 1953px 1066px #fff,
    807px 216px #fff, 887px 958px #fff, 1294px 487px #fff, 508px 1041px #fff,
    1105px 1801px #fff, 58px 1877px #fff, 731px 1667px #fff, 1768px 603px #fff,
    1714px 1684px #fff, 322px 1122px #fff, 1010px 63px #fff, 1346px 1821px #fff,
    868px 462px #fff, 1259px 468px #fff, 1703px 1545px #fff, 1622px 1900px #fff,
    1238px 168px #fff, 1299px 717px #fff, 1071px 976px #fff, 1396px 1075px #fff,
    1515px 1007px #fff, 1867px 1426px #fff, 1255px 1499px #fff, 826px 528px #fff,
    498px 931px #fff, 147px 1862px #fff, 91px 1829px #fff, 1452px 398px #fff,
    976px 1750px #fff, 1510px 127px #fff, 1540px 443px #fff, 1483px 1195px #fff,
    1819px 240px #fff, 636px 442px #fff, 226px 703px #fff, 334px 1091px #fff,
    1675px 170px #fff, 633px 868px #fff, 1893px 930px #fff, 1224px 314px #fff,
    366px 818px #fff, 1165px 420px #fff, 565px 303px #fff, 1948px 295px #fff,
    1866px 1461px #fff, 12px 858px #fff, 1360px 819px #fff, 1318px 1949px #fff,
    588px 1185px #fff, 245px 1357px #fff, 692px 350px #fff, 846px 623px #fff,
    1374px 1517px #fff, 1935px 794px #fff, 210px 566px #fff, 1625px 150px #fff,
    1574px 568px #fff, 1943px 1058px #fff, 465px 1307px #fff, 110px 672px #fff,
    1235px 1420px #fff, 699px 33px #fff, 1455px 771px #fff, 997px 312px #fff,
    1105px 1435px #fff, 105px 1655px #fff, 1147px 536px #fff, 1295px 1760px #fff,
    523px 1038px #fff, 1774px 826px #fff, 1745px 1578px #fff, 1467px 1367px #fff,
    1074px 135px #fff, 1164px 845px #fff, 1905px 768px #fff, 1043px 1748px #fff,
    908px 658px #fff, 1410px 1011px #fff, 135px 1192px #fff, 888px 389px #fff,
    1508px 1446px #fff, 756px 1343px #fff, 1566px 1780px #fff, 125px 901px #fff,
    66px 1017px #fff, 1013px 954px #fff, 555px 150px #fff, 334px 860px #fff,
    1799px 1318px #fff, 24px 919px #fff, 626px 1177px #fff, 1095px 245px #fff,
    252px 1337px #fff, 243px 1435px #fff, 183px 843px #fff, 967px 1203px #fff,
    1115px 1037px #fff, 1348px 56px #fff, 1300px 1718px #fff, 981px 1365px #fff,
    711px 1532px #fff, 55px 1600px #fff, 1072px 724px #fff, 335px 611px #fff,
    656px 1558px #fff, 1643px 1447px #fff, 1884px 1265px #fff, 425px 631px #fff,
    1934px 876px #fff, 636px 237px #fff, 1957px 1729px #fff, 883px 183px #fff,
    373px 1400px #fff, 530px 938px #fff, 1319px 261px #fff, 1784px 1928px #fff,
    993px 1947px #fff, 1344px 1280px #fff, 1060px 1759px #fff, 306px 138px #fff,
    1949px 1892px #fff, 1503px 291px #fff, 1811px 1301px #fff,
    1093px 1851px #fff, 1204px 291px #fff, 208px 1346px #fff, 1351px 1810px #fff,
    1825px 956px #fff, 1702px 745px #fff, 1884px 48px #fff, 1529px 73px #fff,
    512px 327px #fff, 1127px 38px #fff, 1641px 1687px #fff, 845px 968px #fff,
    731px 1007px #fff, 666px 723px #fff, 1831px 293px #fff, 1661px 1113px #fff,
    168px 1574px #fff, 285px 1589px #fff, 548px 542px #fff, 1736px 1140px #fff,
    1365px 942px #fff, 343px 1202px #fff, 1984px 102px #fff, 1273px 1423px #fff,
    1712px 1596px #fff, 1679px 243px #fff, 1078px 122px #fff, 360px 1041px #fff,
    1783px 1928px #fff, 1902px 912px #fff, 1238px 1439px #fff, 1895px 522px #fff,
    1354px 44px #fff, 1209px 467px #fff, 1567px 508px #fff, 19px 912px #fff,
    936px 937px #fff, 1428px 915px #fff, 1021px 340px #fff, 1145px 233px #fff,
    1190px 825px #fff, 645px 375px #fff, 1888px 700px #fff, 211px 829px #fff,
    1021px 1830px #fff, 1084px 1727px #fff, 1705px 331px #fff, 1686px 233px #fff,
    1589px 889px #fff, 1738px 1821px #fff, 162px 403px #fff, 1118px 834px #fff,
    1523px 1344px #fff, 1362px 750px #fff, 570px 1748px #fff, 567px 88px #fff,
    452px 1779px #fff, 395px 1347px #fff, 1256px 1664px #fff, 806px 1065px #fff,
    866px 1000px #fff, 1339px 686px #fff, 1831px 1700px #fff, 805px 400px #fff,
    400px 393px #fff, 1901px 135px #fff, 117px 239px #fff, 843px 1240px #fff,
    805px 741px #fff, 1349px 1708px #fff, 1813px 1646px #fff, 1877px 1160px #fff,
    1541px 714px #fff, 46px 1104px #fff, 1225px 1348px #fff, 719px 126px #fff,
    1775px 164px #fff, 1990px 213px #fff, 599px 1594px #fff, 525px 785px #fff,
    1027px 1848px #fff, 700px 665px #fff, 1426px 529px #fff, 35px 148px #fff,
    1882px 1499px #fff, 484px 911px #fff, 1673px 1306px #fff, 1992px 329px #fff,
    1099px 1449px #fff, 1975px 705px #fff, 50px 225px #fff, 937px 1494px #fff,
    1283px 422px #fff, 439px 1063px #fff, 97px 1543px #fff, 767px 1976px #fff,
    1387px 1236px #fff, 714px 1895px #fff, 1015px 347px #fff, 1863px 113px #fff,
    473px 1979px #fff, 250px 898px #fff, 1147px 614px #fff, 1758px 1940px #fff,
    573px 254px #fff, 479px 1803px #fff, 89px 314px #fff, 1967px 1511px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 363px 1344px #fff, 629px 1318px #fff, 455px 955px #fff,
    1166px 752px #fff, 1469px 1182px #fff, 430px 44px #fff, 1418px 1573px #fff,
    414px 1528px #fff, 1374px 979px #fff, 1966px 1376px #fff, 1218px 529px #fff,
    207px 1076px #fff, 740px 1170px #fff, 1059px 177px #fff, 658px 1595px #fff,
    1682px 1097px #fff, 1820px 606px #fff, 1873px 1261px #fff,
    1833px 1501px #fff, 137px 947px #fff, 622px 1379px #fff, 1073px 131px #fff,
    1891px 1139px #fff, 868px 1304px #fff, 974px 1004px #fff, 1136px 367px #fff,
    637px 248px #fff, 617px 1167px #fff, 113px 294px #fff, 920px 530px #fff,
    1934px 1451px #fff, 10px 1883px #fff, 1586px 1307px #fff, 290px 329px #fff,
    1878px 1607px #fff, 393px 319px #fff, 469px 543px #fff, 594px 1056px #fff,
    1017px 340px #fff, 1495px 674px #fff, 366px 1164px #fff, 1311px 80px #fff,
    1658px 349px #fff, 225px 774px #fff, 903px 204px #fff, 1626px 1013px #fff,
    179px 995px #fff, 1705px 185px #fff, 1453px 805px #fff, 634px 1011px #fff,
    1694px 476px #fff, 1668px 1413px #fff, 1409px 1844px #fff,
    1078px 1379px #fff, 1803px 1704px #fff, 11px 173px #fff, 1665px 892px #fff,
    847px 907px #fff, 1414px 806px #fff, 915px 859px #fff, 461px 1502px #fff,
    135px 417px #fff, 1248px 889px #fff, 1517px 1661px #fff, 1208px 159px #fff,
    1796px 1808px #fff, 1628px 105px #fff, 145px 1118px #fff, 1452px 364px #fff,
    404px 66px #fff, 1270px 1589px #fff, 318px 257px #fff, 631px 878px #fff,
    1906px 1755px #fff, 1805px 788px #fff, 1575px 755px #fff, 1755px 1582px #fff,
    483px 20px #fff, 1187px 529px #fff, 79px 212px #fff, 225px 601px #fff,
    477px 1866px #fff, 1271px 797px #fff, 1280px 135px #fff, 1659px 219px #fff,
    1474px 1014px #fff, 1665px 586px #fff, 1716px 1854px #fff, 774px 1038px #fff,
    1135px 222px #fff, 567px 437px #fff, 775px 579px #fff, 1634px 1263px #fff,
    115px 188px #fff, 1349px 1093px #fff, 1644px 1411px #fff, 1075px 235px #fff,
    1005px 1206px #fff, 449px 1337px #fff, 1216px 1616px #fff,
    1199px 1432px #fff, 447px 1779px #fff, 1594px 796px #fff, 1441px 341px #fff,
    412px 239px #fff, 842px 964px #fff, 1033px 1841px #fff, 139px 1316px #fff,
    146px 1483px #fff, 1595px 1490px #fff, 1541px 934px #fff, 348px 1140px #fff,
    483px 421px #fff, 1514px 1px #fff, 1490px 256px #fff, 192px 691px #fff,
    213px 680px #fff, 1216px 990px #fff, 228px 1817px #fff, 1428px 1648px #fff,
    767px 588px #fff, 1557px 975px #fff, 660px 1430px #fff, 1395px 1582px #fff,
    1326px 219px #fff, 219px 1882px #fff, 490px 1364px #fff, 1099px 1537px #fff,
    1521px 109px #fff, 59px 616px #fff, 1399px 518px #fff, 189px 1645px #fff,
    1534px 1988px #fff, 764px 1639px #fff, 363px 123px #fff, 1100px 1319px #fff,
    1174px 1444px #fff, 1691px 1626px #fff, 1747px 1107px #fff, 349px 440px #fff,
    604px 1221px #fff, 1712px 514px #fff, 127px 1081px #fff, 496px 1036px #fff,
    18px 255px #fff, 1327px 91px #fff, 1657px 283px #fff, 708px 325px #fff,
    57px 541px #fff, 1636px 1045px #fff, 903px 228px #fff, 1436px 214px #fff,
    1146px 1830px #fff, 920px 1694px #fff, 1992px 1575px #fff, 991px 340px #fff,
    1426px 321px #fff, 331px 1206px #fff, 910px 410px #fff, 322px 362px #fff,
    1624px 874px #fff, 1489px 1704px #fff, 978px 1072px #fff, 1225px 1620px #fff,
    1019px 141px #fff, 97px 427px #fff, 961px 332px #fff, 1180px 1778px #fff,
    1451px 54px #fff, 1905px 336px #fff, 51px 377px #fff, 723px 1864px #fff,
    1845px 312px #fff, 1756px 760px #fff, 1838px 496px #fff, 474px 19px #fff,
    1169px 644px #fff, 931px 1593px #fff, 1796px 1658px #fff, 1px 1699px #fff,
    1216px 546px #fff, 1485px 1218px #fff, 146px 151px #fff, 1241px 1816px #fff,
    7px 2000px #fff, 659px 241px #fff, 632px 1167px #fff, 640px 128px #fff,
    1248px 925px #fff, 59px 224px #fff, 1748px 266px #fff, 1517px 1054px #fff,
    1950px 941px #fff, 1086px 1049px #fff, 1713px 756px #fff, 674px 1172px #fff,
    4px 395px #fff, 21px 130px #fff, 125px 1731px #fff, 1772px 1999px #fff,
    1305px 1288px #fff, 1162px 1847px #fff, 1529px 951px #fff, 381px 307px #fff,
    594px 559px #fff, 1622px 1125px #fff, 119px 1827px #fff, 1926px 1445px #fff,
    1006px 813px #fff, 1502px 1584px #fff, 1353px 1033px #fff,
    1393px 1065px #fff, 98px 1661px #fff, 1468px 71px #fff, 1582px 1126px #fff,
    524px 361px #fff, 61px 1214px #fff, 1191px 738px #fff, 1558px 959px #fff,
    1522px 1919px #fff, 283px 1561px #fff, 900px 189px #fff, 1411px 1165px #fff,
    1313px 1316px #fff, 700px 1214px #fff, 1776px 1482px #fff, 1233px 672px #fff,
    252px 1452px #fff, 1602px 1124px #fff, 1273px 1513px #fff, 156px 1518px #fff,
    1886px 81px #fff, 488px 1142px #fff, 725px 1762px #fff, 507px 1503px #fff,
    518px 1526px #fff, 1311px 424px #fff, 1834px 587px #fff, 1504px 1470px #fff,
    641px 1834px #fff, 1091px 239px #fff, 706px 443px #fff, 1033px 1641px #fff,
    919px 1299px #fff, 1726px 83px #fff, 225px 900px #fff, 1173px 1990px #fff,
    1527px 1068px #fff, 1419px 340px #fff, 894px 417px #fff, 1510px 1626px #fff,
    593px 144px #fff, 242px 1979px #fff, 1908px 1732px #fff, 990px 1967px #fff,
    439px 1046px #fff, 227px 1863px #fff, 1263px 631px #fff, 437px 1333px #fff,
    530px 218px #fff, 220px 1732px #fff, 574px 75px #fff, 1703px 1319px #fff,
    1128px 388px #fff, 1550px 880px #fff, 1798px 461px #fff, 817px 627px #fff,
    1992px 731px #fff, 137px 8px #fff, 742px 1825px #fff, 564px 1650px #fff,
    1814px 675px #fff, 1656px 1747px #fff, 1688px 1688px #fff,
    1869px 1275px #fff, 927px 1029px #fff, 1520px 251px #fff, 504px 196px #fff,
    131px 129px #fff, 919px 1946px #fff, 385px 1494px #fff, 1314px 92px #fff,
    888px 735px #fff, 1209px 839px #fff, 166px 1387px #fff, 230px 1298px #fff,
    1114px 857px #fff, 1479px 1936px #fff, 1801px 891px #fff, 998px 906px #fff,
    1669px 861px #fff, 484px 1959px #fff, 510px 1926px #fff, 352px 431px #fff,
    813px 1879px #fff, 1409px 1623px #fff, 1668px 1852px #fff, 587px 455px #fff,
    776px 591px #fff, 405px 62px #fff, 316px 1583px #fff, 1424px 731px #fff,
    1574px 493px #fff, 1518px 160px #fff, 443px 602px #fff, 865px 1034px #fff,
    1866px 1816px #fff, 870px 110px #fff, 502px 392px #fff, 331px 1688px #fff,
    408px 1821px #fff, 248px 1214px #fff, 62px 1701px #fff, 1005px 251px #fff,
    566px 214px #fff, 950px 572px #fff, 1274px 1338px #fff, 1605px 1856px #fff,
    857px 210px #fff, 1093px 1744px #fff, 1112px 727px #fff, 1454px 550px #fff,
    1011px 1102px #fff, 1284px 1218px #fff, 1334px 548px #fff, 32px 878px #fff,
    667px 425px #fff, 1647px 772px #fff, 108px 1579px #fff, 1006px 235px #fff,
    415px 1704px #fff, 1249px 1039px #fff, 892px 739px #fff, 1281px 1541px #fff,
    115px 364px #fff, 841px 1154px #fff, 993px 1474px #fff, 275px 1760px #fff,
    445px 765px #fff, 1514px 599px #fff, 1565px 1030px #fff, 78px 825px #fff,
    1026px 1207px #fff, 9px 1114px #fff, 1073px 391px #fff, 1408px 52px #fff,
    884px 1811px #fff, 1289px 713px #fff, 1812px 437px #fff, 1913px 1684px #fff,
    1610px 1322px #fff, 1721px 1686px #fff, 799px 1654px #fff, 414px 1946px #fff,
    1551px 1296px #fff, 1203px 1236px #fff, 1914px 1394px #fff, 1421px 79px #fff,
    1453px 1974px #fff, 1898px 121px #fff, 1059px 286px #fff, 241px 665px #fff,
    1563px 1859px #fff, 1118px 685px #fff, 520px 1648px #fff, 1291px 563px #fff,
    1283px 1292px #fff, 1740px 1428px #fff, 592px 10px #fff, 1756px 1640px #fff,
    418px 1301px #fff, 1839px 256px #fff, 919px 1467px #fff, 776px 521px #fff,
    1899px 640px #fff, 1449px 479px #fff, 1450px 1585px #fff, 437px 1238px #fff,
    958px 952px #fff, 1549px 1090px #fff, 823px 1050px #fff, 86px 1918px #fff,
    903px 1055px #fff, 1718px 920px #fff, 609px 570px #fff, 1252px 1363px #fff,
    60px 787px #fff, 955px 652px #fff, 1883px 1995px #fff, 1174px 987px #fff,
    1462px 1543px #fff, 1863px 333px #fff, 987px 556px #fff, 1526px 1035px #fff,
    772px 722px #fff, 1413px 856px #fff, 1523px 778px #fff, 1823px 571px #fff,
    1643px 544px #fff, 259px 1003px #fff, 261px 1333px #fff, 1219px 1142px #fff,
    1159px 1090px #fff, 1519px 1324px #fff, 102px 1615px #fff, 1395px 23px #fff,
    360px 1697px #fff, 670px 676px #fff, 1537px 594px #fff, 1797px 1665px #fff,
    882px 1210px #fff, 1898px 850px #fff, 1048px 802px #fff, 1183px 1517px #fff,
    13px 619px #fff, 494px 1304px #fff, 1055px 909px #fff, 1868px 1667px #fff,
    1671px 450px #fff, 1911px 1608px #fff, 931px 868px #fff, 1698px 659px #fff,
    89px 183px #fff, 1680px 1084px #fff, 696px 642px #fff, 889px 306px #fff,
    1913px 942px #fff, 146px 22px #fff, 961px 442px #fff, 1198px 1670px #fff,
    1088px 1957px #fff, 1962px 1043px #fff, 1507px 25px #fff, 1848px 1801px #fff,
    1212px 298px #fff, 1081px 9px #fff, 1609px 258px #fff, 93px 1454px #fff,
    371px 554px #fff, 1141px 386px #fff, 1443px 649px #fff, 919px 593px #fff,
    1404px 29px #fff, 809px 264px #fff, 742px 1305px #fff, 3px 49px #fff,
    1604px 1744px #fff, 1705px 939px #fff, 1662px 558px #fff, 1723px 1134px #fff,
    617px 1701px #fff, 60px 17px #fff, 892px 601px #fff, 192px 487px #fff,
    115px 735px #fff, 750px 1125px #fff, 1913px 767px #fff, 1274px 214px #fff,
    1911px 1527px #fff, 1804px 200px #fff, 1449px 106px #fff, 1964px 1469px #fff,
    1247px 1884px #fff, 1359px 1016px #fff, 1259px 1423px #fff,
    598px 1493px #fff, 1055px 1903px #fff, 953px 842px #fff, 1953px 1066px #fff,
    807px 216px #fff, 887px 958px #fff, 1294px 487px #fff, 508px 1041px #fff,
    1105px 1801px #fff, 58px 1877px #fff, 731px 1667px #fff, 1768px 603px #fff,
    1714px 1684px #fff, 322px 1122px #fff, 1010px 63px #fff, 1346px 1821px #fff,
    868px 462px #fff, 1259px 468px #fff, 1703px 1545px #fff, 1622px 1900px #fff,
    1238px 168px #fff, 1299px 717px #fff, 1071px 976px #fff, 1396px 1075px #fff,
    1515px 1007px #fff, 1867px 1426px #fff, 1255px 1499px #fff, 826px 528px #fff,
    498px 931px #fff, 147px 1862px #fff, 91px 1829px #fff, 1452px 398px #fff,
    976px 1750px #fff, 1510px 127px #fff, 1540px 443px #fff, 1483px 1195px #fff,
    1819px 240px #fff, 636px 442px #fff, 226px 703px #fff, 334px 1091px #fff,
    1675px 170px #fff, 633px 868px #fff, 1893px 930px #fff, 1224px 314px #fff,
    366px 818px #fff, 1165px 420px #fff, 565px 303px #fff, 1948px 295px #fff,
    1866px 1461px #fff, 12px 858px #fff, 1360px 819px #fff, 1318px 1949px #fff,
    588px 1185px #fff, 245px 1357px #fff, 692px 350px #fff, 846px 623px #fff,
    1374px 1517px #fff, 1935px 794px #fff, 210px 566px #fff, 1625px 150px #fff,
    1574px 568px #fff, 1943px 1058px #fff, 465px 1307px #fff, 110px 672px #fff,
    1235px 1420px #fff, 699px 33px #fff, 1455px 771px #fff, 997px 312px #fff,
    1105px 1435px #fff, 105px 1655px #fff, 1147px 536px #fff, 1295px 1760px #fff,
    523px 1038px #fff, 1774px 826px #fff, 1745px 1578px #fff, 1467px 1367px #fff,
    1074px 135px #fff, 1164px 845px #fff, 1905px 768px #fff, 1043px 1748px #fff,
    908px 658px #fff, 1410px 1011px #fff, 135px 1192px #fff, 888px 389px #fff,
    1508px 1446px #fff, 756px 1343px #fff, 1566px 1780px #fff, 125px 901px #fff,
    66px 1017px #fff, 1013px 954px #fff, 555px 150px #fff, 334px 860px #fff,
    1799px 1318px #fff, 24px 919px #fff, 626px 1177px #fff, 1095px 245px #fff,
    252px 1337px #fff, 243px 1435px #fff, 183px 843px #fff, 967px 1203px #fff,
    1115px 1037px #fff, 1348px 56px #fff, 1300px 1718px #fff, 981px 1365px #fff,
    711px 1532px #fff, 55px 1600px #fff, 1072px 724px #fff, 335px 611px #fff,
    656px 1558px #fff, 1643px 1447px #fff, 1884px 1265px #fff, 425px 631px #fff,
    1934px 876px #fff, 636px 237px #fff, 1957px 1729px #fff, 883px 183px #fff,
    373px 1400px #fff, 530px 938px #fff, 1319px 261px #fff, 1784px 1928px #fff,
    993px 1947px #fff, 1344px 1280px #fff, 1060px 1759px #fff, 306px 138px #fff,
    1949px 1892px #fff, 1503px 291px #fff, 1811px 1301px #fff,
    1093px 1851px #fff, 1204px 291px #fff, 208px 1346px #fff, 1351px 1810px #fff,
    1825px 956px #fff, 1702px 745px #fff, 1884px 48px #fff, 1529px 73px #fff,
    512px 327px #fff, 1127px 38px #fff, 1641px 1687px #fff, 845px 968px #fff,
    731px 1007px #fff, 666px 723px #fff, 1831px 293px #fff, 1661px 1113px #fff,
    168px 1574px #fff, 285px 1589px #fff, 548px 542px #fff, 1736px 1140px #fff,
    1365px 942px #fff, 343px 1202px #fff, 1984px 102px #fff, 1273px 1423px #fff,
    1712px 1596px #fff, 1679px 243px #fff, 1078px 122px #fff, 360px 1041px #fff,
    1783px 1928px #fff, 1902px 912px #fff, 1238px 1439px #fff, 1895px 522px #fff,
    1354px 44px #fff, 1209px 467px #fff, 1567px 508px #fff, 19px 912px #fff,
    936px 937px #fff, 1428px 915px #fff, 1021px 340px #fff, 1145px 233px #fff,
    1190px 825px #fff, 645px 375px #fff, 1888px 700px #fff, 211px 829px #fff,
    1021px 1830px #fff, 1084px 1727px #fff, 1705px 331px #fff, 1686px 233px #fff,
    1589px 889px #fff, 1738px 1821px #fff, 162px 403px #fff, 1118px 834px #fff,
    1523px 1344px #fff, 1362px 750px #fff, 570px 1748px #fff, 567px 88px #fff,
    452px 1779px #fff, 395px 1347px #fff, 1256px 1664px #fff, 806px 1065px #fff,
    866px 1000px #fff, 1339px 686px #fff, 1831px 1700px #fff, 805px 400px #fff,
    400px 393px #fff, 1901px 135px #fff, 117px 239px #fff, 843px 1240px #fff,
    805px 741px #fff, 1349px 1708px #fff, 1813px 1646px #fff, 1877px 1160px #fff,
    1541px 714px #fff, 46px 1104px #fff, 1225px 1348px #fff, 719px 126px #fff,
    1775px 164px #fff, 1990px 213px #fff, 599px 1594px #fff, 525px 785px #fff,
    1027px 1848px #fff, 700px 665px #fff, 1426px 529px #fff, 35px 148px #fff,
    1882px 1499px #fff, 484px 911px #fff, 1673px 1306px #fff, 1992px 329px #fff,
    1099px 1449px #fff, 1975px 705px #fff, 50px 225px #fff, 937px 1494px #fff,
    1283px 422px #fff, 439px 1063px #fff, 97px 1543px #fff, 767px 1976px #fff,
    1387px 1236px #fff, 714px 1895px #fff, 1015px 347px #fff, 1863px 113px #fff,
    473px 1979px #fff, 250px 898px #fff, 1147px 614px #fff, 1758px 1940px #fff,
    573px 254px #fff, 479px 1803px #fff, 89px 314px #fff, 1967px 1511px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1050px 978px #fff, 790px 411px #fff, 1065px 1048px #fff,
    521px 1279px #fff, 225px 125px #fff, 608px 1985px #fff, 1033px 1117px #fff,
    1887px 727px #fff, 98px 508px #fff, 1609px 898px #fff, 760px 976px #fff,
    1564px 1551px #fff, 357px 18px #fff, 285px 983px #fff, 1985px 365px #fff,
    128px 38px #fff, 182px 88px #fff, 1305px 834px #fff, 73px 1988px #fff,
    825px 1679px #fff, 998px 324px #fff, 1534px 908px #fff, 1772px 1218px #fff,
    1025px 1291px #fff, 1602px 6px #fff, 795px 651px #fff, 1293px 427px #fff,
    1820px 1711px #fff, 364px 114px #fff, 332px 344px #fff, 1549px 529px #fff,
    977px 1730px #fff, 1004px 401px #fff, 81px 1446px #fff, 479px 1103px #fff,
    226px 248px #fff, 66px 222px #fff, 783px 98px #fff, 1628px 1406px #fff,
    820px 359px #fff, 1364px 641px #fff, 1663px 336px #fff, 222px 1100px #fff,
    1298px 1082px #fff, 1861px 629px #fff, 961px 1642px #fff, 1049px 1763px #fff,
    186px 1923px #fff, 670px 451px #fff, 535px 856px #fff, 892px 1906px #fff,
    1269px 162px #fff, 1302px 859px #fff, 27px 670px #fff, 1435px 1316px #fff,
    1357px 1408px #fff, 700px 1748px #fff, 835px 1652px #fff, 226px 1253px #fff,
    1061px 586px #fff, 1008px 1983px #fff, 1456px 819px #fff, 188px 1503px #fff,
    1322px 1409px #fff, 1830px 1591px #fff, 1239px 1324px #fff, 384px 663px #fff,
    1654px 433px #fff, 1377px 326px #fff, 28px 1618px #fff, 1184px 1001px #fff,
    756px 627px #fff, 361px 640px #fff, 606px 1767px #fff, 90px 1862px #fff,
    1337px 1486px #fff, 1376px 1049px #fff, 249px 1553px #fff, 1642px 373px #fff,
    1016px 787px #fff, 729px 1427px #fff, 1707px 1382px #fff, 584px 1758px #fff,
    1672px 1566px #fff, 1678px 575px #fff, 982px 315px #fff, 613px 452px #fff,
    1817px 655px #fff, 132px 323px #fff, 387px 58px #fff, 338px 1223px #fff,
    69px 561px #fff, 388px 1731px #fff, 544px 1245px #fff, 1046px 1869px #fff,
    672px 1350px #fff, 1010px 668px #fff, 1972px 479px #fff, 1889px 1247px #fff,
    1743px 1913px #fff, 1061px 162px #fff, 673px 980px #fff, 1782px 1158px #fff,
    500px 97px #fff, 1945px 1985px #fff, 303px 1608px #fff, 445px 804px #fff,
    107px 1871px #fff, 1925px 511px #fff, 301px 725px #fff, 612px 7px #fff,
    679px 1518px #fff, 1181px 770px #fff, 1467px 521px #fff, 64px 925px #fff,
    188px 1992px #fff, 148px 896px #fff, 1773px 381px #fff, 118px 1434px #fff,
    1618px 1663px #fff, 546px 473px #fff, 1780px 509px #fff, 1719px 1474px #fff,
    367px 843px #fff, 286px 921px #fff, 1604px 770px #fff, 527px 1228px #fff,
    783px 609px #fff, 576px 1284px #fff, 260px 1594px #fff, 471px 1854px #fff,
    1254px 1109px #fff, 293px 1768px #fff, 1766px 1413px #fff, 356px 821px #fff,
    963px 307px #fff, 1243px 144px #fff, 294px 29px #fff, 628px 1169px #fff,
    428px 589px #fff, 154px 1258px #fff, 255px 1415px #fff, 1287px 1406px #fff,
    698px 1543px #fff, 187px 1143px #fff, 1568px 1463px #fff, 1596px 1173px #fff,
    1108px 1482px #fff, 858px 10px #fff, 1091px 1017px #fff, 1355px 1666px #fff,
    740px 1787px #fff, 1820px 1047px #fff, 49px 371px #fff, 1350px 1301px #fff,
    157px 289px #fff, 678px 309px #fff, 1585px 160px #fff, 278px 1340px #fff,
    1751px 1494px #fff, 1px 782px #fff, 1476px 998px #fff, 633px 1275px #fff,
    1734px 1550px #fff, 1204px 21px #fff, 756px 387px #fff, 1768px 1668px #fff,
    1108px 1001px #fff, 685px 644px #fff, 37px 793px #fff, 220px 1346px #fff,
    1863px 1923px #fff, 1570px 718px #fff, 446px 1215px #fff, 1666px 1460px #fff,
    1370px 1394px #fff, 1970px 1786px #fff, 1117px 1713px #fff,
    1029px 1002px #fff, 1084px 1321px #fff, 8px 1294px #fff, 1829px 1591px #fff,
    716px 985px #fff, 1885px 934px #fff, 1462px 1322px #fff, 958px 1441px #fff,
    1618px 118px #fff, 1605px 995px #fff, 504px 1395px #fff, 716px 858px #fff,
    163px 12px #fff, 1082px 115px #fff, 1210px 1467px #fff, 1028px 405px #fff,
    1981px 259px #fff, 448px 1232px #fff, 1982px 331px #fff, 199px 760px #fff,
    743px 1072px #fff, 1888px 1994px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1050px 978px #fff, 790px 411px #fff, 1065px 1048px #fff,
    521px 1279px #fff, 225px 125px #fff, 608px 1985px #fff, 1033px 1117px #fff,
    1887px 727px #fff, 98px 508px #fff, 1609px 898px #fff, 760px 976px #fff,
    1564px 1551px #fff, 357px 18px #fff, 285px 983px #fff, 1985px 365px #fff,
    128px 38px #fff, 182px 88px #fff, 1305px 834px #fff, 73px 1988px #fff,
    825px 1679px #fff, 998px 324px #fff, 1534px 908px #fff, 1772px 1218px #fff,
    1025px 1291px #fff, 1602px 6px #fff, 795px 651px #fff, 1293px 427px #fff,
    1820px 1711px #fff, 364px 114px #fff, 332px 344px #fff, 1549px 529px #fff,
    977px 1730px #fff, 1004px 401px #fff, 81px 1446px #fff, 479px 1103px #fff,
    226px 248px #fff, 66px 222px #fff, 783px 98px #fff, 1628px 1406px #fff,
    820px 359px #fff, 1364px 641px #fff, 1663px 336px #fff, 222px 1100px #fff,
    1298px 1082px #fff, 1861px 629px #fff, 961px 1642px #fff, 1049px 1763px #fff,
    186px 1923px #fff, 670px 451px #fff, 535px 856px #fff, 892px 1906px #fff,
    1269px 162px #fff, 1302px 859px #fff, 27px 670px #fff, 1435px 1316px #fff,
    1357px 1408px #fff, 700px 1748px #fff, 835px 1652px #fff, 226px 1253px #fff,
    1061px 586px #fff, 1008px 1983px #fff, 1456px 819px #fff, 188px 1503px #fff,
    1322px 1409px #fff, 1830px 1591px #fff, 1239px 1324px #fff, 384px 663px #fff,
    1654px 433px #fff, 1377px 326px #fff, 28px 1618px #fff, 1184px 1001px #fff,
    756px 627px #fff, 361px 640px #fff, 606px 1767px #fff, 90px 1862px #fff,
    1337px 1486px #fff, 1376px 1049px #fff, 249px 1553px #fff, 1642px 373px #fff,
    1016px 787px #fff, 729px 1427px #fff, 1707px 1382px #fff, 584px 1758px #fff,
    1672px 1566px #fff, 1678px 575px #fff, 982px 315px #fff, 613px 452px #fff,
    1817px 655px #fff, 132px 323px #fff, 387px 58px #fff, 338px 1223px #fff,
    69px 561px #fff, 388px 1731px #fff, 544px 1245px #fff, 1046px 1869px #fff,
    672px 1350px #fff, 1010px 668px #fff, 1972px 479px #fff, 1889px 1247px #fff,
    1743px 1913px #fff, 1061px 162px #fff, 673px 980px #fff, 1782px 1158px #fff,
    500px 97px #fff, 1945px 1985px #fff, 303px 1608px #fff, 445px 804px #fff,
    107px 1871px #fff, 1925px 511px #fff, 301px 725px #fff, 612px 7px #fff,
    679px 1518px #fff, 1181px 770px #fff, 1467px 521px #fff, 64px 925px #fff,
    188px 1992px #fff, 148px 896px #fff, 1773px 381px #fff, 118px 1434px #fff,
    1618px 1663px #fff, 546px 473px #fff, 1780px 509px #fff, 1719px 1474px #fff,
    367px 843px #fff, 286px 921px #fff, 1604px 770px #fff, 527px 1228px #fff,
    783px 609px #fff, 576px 1284px #fff, 260px 1594px #fff, 471px 1854px #fff,
    1254px 1109px #fff, 293px 1768px #fff, 1766px 1413px #fff, 356px 821px #fff,
    963px 307px #fff, 1243px 144px #fff, 294px 29px #fff, 628px 1169px #fff,
    428px 589px #fff, 154px 1258px #fff, 255px 1415px #fff, 1287px 1406px #fff,
    698px 1543px #fff, 187px 1143px #fff, 1568px 1463px #fff, 1596px 1173px #fff,
    1108px 1482px #fff, 858px 10px #fff, 1091px 1017px #fff, 1355px 1666px #fff,
    740px 1787px #fff, 1820px 1047px #fff, 49px 371px #fff, 1350px 1301px #fff,
    157px 289px #fff, 678px 309px #fff, 1585px 160px #fff, 278px 1340px #fff,
    1751px 1494px #fff, 1px 782px #fff, 1476px 998px #fff, 633px 1275px #fff,
    1734px 1550px #fff, 1204px 21px #fff, 756px 387px #fff, 1768px 1668px #fff,
    1108px 1001px #fff, 685px 644px #fff, 37px 793px #fff, 220px 1346px #fff,
    1863px 1923px #fff, 1570px 718px #fff, 446px 1215px #fff, 1666px 1460px #fff,
    1370px 1394px #fff, 1970px 1786px #fff, 1117px 1713px #fff,
    1029px 1002px #fff, 1084px 1321px #fff, 8px 1294px #fff, 1829px 1591px #fff,
    716px 985px #fff, 1885px 934px #fff, 1462px 1322px #fff, 958px 1441px #fff,
    1618px 118px #fff, 1605px 995px #fff, 504px 1395px #fff, 716px 858px #fff,
    163px 12px #fff, 1082px 115px #fff, 1210px 1467px #fff, 1028px 405px #fff,
    1981px 259px #fff, 448px 1232px #fff, 1982px 331px #fff, 199px 760px #fff,
    743px 1072px #fff, 1888px 1994px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 192px 1756px #fff, 289px 977px #fff, 1485px 300px #fff,
    1483px 777px #fff, 1622px 1852px #fff, 619px 15px #fff, 102px 1083px #fff,
    108px 1540px #fff, 378px 1533px #fff, 1834px 647px #fff, 1835px 1967px #fff,
    1816px 35px #fff, 153px 461px #fff, 1778px 586px #fff, 315px 1399px #fff,
    1410px 1054px #fff, 1806px 1796px #fff, 1289px 718px #fff, 669px 1750px #fff,
    1332px 825px #fff, 1003px 317px #fff, 923px 777px #fff, 1865px 445px #fff,
    645px 309px #fff, 621px 1906px #fff, 1786px 60px #fff, 1740px 80px #fff,
    122px 1596px #fff, 573px 504px #fff, 960px 606px #fff, 1358px 120px #fff,
    1949px 1930px #fff, 262px 622px #fff, 1268px 1094px #fff, 460px 30px #fff,
    1694px 1228px #fff, 1894px 1933px #fff, 882px 1583px #fff, 557px 1177px #fff,
    376px 472px #fff, 1560px 330px #fff, 23px 1185px #fff, 1388px 894px #fff,
    1257px 832px #fff, 33px 286px #fff, 1971px 187px #fff, 1691px 12px #fff,
    648px 1195px #fff, 1958px 422px #fff, 503px 1936px #fff, 461px 274px #fff,
    1004px 718px #fff, 485px 127px #fff, 287px 1760px #fff, 1715px 1456px #fff,
    1744px 553px #fff, 237px 156px #fff, 525px 1333px #fff, 77px 269px #fff,
    1073px 30px #fff, 944px 206px #fff, 2000px 120px #fff, 362px 121px #fff,
    1009px 1730px #fff, 1204px 914px #fff, 886px 1108px #fff, 160px 1662px #fff,
    813px 1759px #fff, 1736px 262px #fff, 1779px 258px #fff, 114px 706px #fff,
    563px 1879px #fff, 1466px 42px #fff, 1216px 861px #fff, 245px 1922px #fff,
    295px 274px #fff, 1670px 33px #fff, 1788px 2000px #fff, 784px 927px #fff,
    584px 81px #fff, 1426px 914px #fff, 1704px 1574px #fff, 1918px 1788px #fff,
    547px 1949px #fff, 1862px 62px #fff, 149px 1945px #fff, 360px 535px #fff,
    212px 497px #fff, 643px 1406px #fff, 857px 1968px #fff, 1464px 1253px #fff,
    880px 249px #fff, 539px 807px #fff, 408px 1707px #fff, 588px 317px #fff,
    85px 1879px #fff, 1859px 899px #fff, 1700px 1415px #fff, 1757px 1634px #fff,
    549px 1612px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 192px 1756px #fff, 289px 977px #fff, 1485px 300px #fff,
    1483px 777px #fff, 1622px 1852px #fff, 619px 15px #fff, 102px 1083px #fff,
    108px 1540px #fff, 378px 1533px #fff, 1834px 647px #fff, 1835px 1967px #fff,
    1816px 35px #fff, 153px 461px #fff, 1778px 586px #fff, 315px 1399px #fff,
    1410px 1054px #fff, 1806px 1796px #fff, 1289px 718px #fff, 669px 1750px #fff,
    1332px 825px #fff, 1003px 317px #fff, 923px 777px #fff, 1865px 445px #fff,
    645px 309px #fff, 621px 1906px #fff, 1786px 60px #fff, 1740px 80px #fff,
    122px 1596px #fff, 573px 504px #fff, 960px 606px #fff, 1358px 120px #fff,
    1949px 1930px #fff, 262px 622px #fff, 1268px 1094px #fff, 460px 30px #fff,
    1694px 1228px #fff, 1894px 1933px #fff, 882px 1583px #fff, 557px 1177px #fff,
    376px 472px #fff, 1560px 330px #fff, 23px 1185px #fff, 1388px 894px #fff,
    1257px 832px #fff, 33px 286px #fff, 1971px 187px #fff, 1691px 12px #fff,
    648px 1195px #fff, 1958px 422px #fff, 503px 1936px #fff, 461px 274px #fff,
    1004px 718px #fff, 485px 127px #fff, 287px 1760px #fff, 1715px 1456px #fff,
    1744px 553px #fff, 237px 156px #fff, 525px 1333px #fff, 77px 269px #fff,
    1073px 30px #fff, 944px 206px #fff, 2000px 120px #fff, 362px 121px #fff,
    1009px 1730px #fff, 1204px 914px #fff, 886px 1108px #fff, 160px 1662px #fff,
    813px 1759px #fff, 1736px 262px #fff, 1779px 258px #fff, 114px 706px #fff,
    563px 1879px #fff, 1466px 42px #fff, 1216px 861px #fff, 245px 1922px #fff,
    295px 274px #fff, 1670px 33px #fff, 1788px 2000px #fff, 784px 927px #fff,
    584px 81px #fff, 1426px 914px #fff, 1704px 1574px #fff, 1918px 1788px #fff,
    547px 1949px #fff, 1862px 62px #fff, 149px 1945px #fff, 360px 535px #fff,
    212px 497px #fff, 643px 1406px #fff, 857px 1968px #fff, 1464px 1253px #fff,
    880px 249px #fff, 539px 807px #fff, 408px 1707px #fff, 588px 317px #fff,
    85px 1879px #fff, 1859px 899px #fff, 1700px 1415px #fff, 1757px 1634px #fff,
    549px 1612px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
